<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel = "stylesheet" type = "text/css" href = "style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<title>Title</title>
	</head>
	<body>
		<div class="container-fluid">
			<div>
				<ul class="sidenav">
					<li><a href="/">Home</a></li>
				</ul>
			</div>
				
			<div class="content">
				
				<h1>Sean</h1>
				<p>Hello!</p>
				<p>I am a full stack developer with experience ranging from designing the front end of a website(The page your looking at.) To the back end, where all the calculations, data holding, and all the java-y stuff is!</p>
			<div><a href = "/todos">Click here to see what I've made!</a></div>
			</div>
		</div>
	</body>
</html>